@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #0E0E0E;
}

.main-container {
  max-width: 1300px;
  margin-inline: auto;
}

@media (width < 1300px) {
  .main-container {
    padding-inline: 20px;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

::-webkit-scrollbar-thumbhover {
  background: indigo;
}

.saira {
  font-family: 'Saira Stencil One', cursive;
}

.sonsie {
  font-family: 'Sonsie One', cursive;
}

.text-border {
  color: black;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

/* .text-border:hover {
  color: black;
  text-shadow:
    -1px -1px 0 #F8EB25,
    1px -1px 0 #F8EB25,
    -1px 1px 0 #F8EB25,
    1px 1px 0 #F8EB25;
} */
